.form__select select {
  margin-left: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #bdd6f8;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5em;
  color: #0d3351;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: RobotoSlab-Light, sans-serif;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__body {
  padding-top: 30px;
  padding-bottom: 100px;
  background: url("../img/header_bg.jpg");
  background-position: center;
  background-size: cover;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  text-decoration: none;
  color: #0d3351;
}

.menu__wrap {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1;
          flex: 0.5 1;
}

.menu__list {
  display: none;
}

.menu__btn img {
  cursor: pointer;
  overflow: hidden;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: calc(22px + 14 * ((100vw - 320px) / 1352));
  line-height: 48px;
  color: #0d3351;
  font-weight: 400;
}

.subtitle {
  font-size: calc(40px + 60 * ((100vw - 320px) / 1352));
  line-height: 48px;
  color: #0d3351;
  text-transform: uppercase;
  font-weight: 400;
}

.btn {
  padding: 15px 45px;
  background-color: #33c7fd;
  border: none;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #13b0e9;
}

.btn:active {
  background-color: #64d6ff;
}

.catalog__button {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__body {
  padding-top: 110px;
  padding-bottom: 65px;
  background-color: #f3f3f3;
}

.catalog__sort {
  text-align: center;
  cursor: pointer;
}

.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 555px;
          flex: 1 0 555px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  color: #00a2dd;
  text-align: center;
}

.card-item {
  margin-top: 25px;
}

.card__body {
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 45px;
  padding-left: 35px;
}

.card__title {
  font-size: calc(10px + 8 * ((100vw - 320px) / 1352));
  font-weight: 400;
  color: #00a2dd;
}

.card__description {
  font-size: calc(10px + 4 * ((100vw - 320px) / 1352));
  color: #0d3351;
  line-height: 24px;
}

.card__price {
  font-size: calc(15px + 15 * ((100vw - 320px) / 1352));
  color: #0d3351;
}

.footer__wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__tel {
  text-decoration: none;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  color: #0d3351;
}

.info__link {
  text-decoration: none;
  color: #0d3351;
  margin-top: 10px;
}

.social__vk {
  background-image: url("../img/social__vk.png");
}

.social__inst {
  background-image: url("../img/insta.png");
}

.social__yt {
  background-image: url("../img/yt.png");
}

.social__ok {
  background-image: url("../img/ok.png");
}

.social__link {
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0d3351;
}

.webp .header__body { background: url(../img/header_bg.webp); }

.webp .social__vk { background-image: url(../img/social__vk.webp); }

.webp .social__inst { background-image: url(../img/insta.webp); }

.webp .social__yt { background-image: url(../img/yt.webp); }

.webp .social__ok { background-image: url(../img/ok.webp); }